# Logs
*.log

# Dependências
/vendor
/node_modules

# Build
/public/build
/public/hot
/public/fonts-manifest.dev.json

# Storage
/public/storage
/storage/*.key
/storage/pail

# IDEs
.vscode/
/.idea/
/.cursor/
/.codex/
/.nova/
/.zed/

# Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos auxiliares
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
_ide_helper.php
/auth.json

# Homestead
Homestead.yaml
Homestead.json
.env
